.DS_Store
*.tif
# History files
.Rhistory
.Rapp.history
1_ETL/2_Data/1_output/*
1_ETL/2_Data/0_raw_data/copernicus
!*1_ETL/2_Data/0_raw_data/copernicus/README.md
1_ETL/2_Data/0_raw_data/tree_cadastres
!*1_ETL/2_Data/0_raw_data/tree_cadastres/README.md

1_ETL/2_Data/0_raw_data/tree_georef_3.txt

1_ETL/2_Data/1_output/*
!*1_ETL/2_Data/1_output/README.md
3_shiny_frontend/data/*
3_shiny_frontend/data-raw/*

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
